.footer-section {
  background-color: #192c50; /* warna biru tua */
  color: white;
  padding: 40px 0;
  margin-top: 80px; /* jarak otomatis dari section sebelumnya */
}

.footer-section h5 {
  margin-bottom: 15px;
  font-size: 18px;
}

.footer-section p {
  margin: 0;
  line-height: 1.6;
}

.footer-section .social-icons {
  font-size: 28px;
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.footer-section .social-icons svg {
  cursor: pointer;
  transition: color 0.3s;
}

.footer-section .social-icons svg:hover {
  color: #4da6ff;
}
