.custom-navbar {
  background-color: #ffffff !important; /* putih biar teksnya kontras */
  padding: 10px 20px;
}

.custom-navbar .nav-link {
  margin-left: 15px;
  font-weight: 500;
  color: #192c50 !important; /* default warna teks */
  transition: color 0.3s ease;
}

.custom-navbar .nav-link:hover,
.custom-navbar .nav-link.active {
  color: #0033cc !important; /* saat hover atau active */
}

.navbar-brand {
  font-size: 1.4rem;
}

.search-box .form-control {
  border-left: none;
}

.search-box .input-group-text {
  background-color: #fff;
  border-right: none;
  color: #56657b;
}
